.wait{
   margin: 1.5em 0;
}

.wait h1{
   font-size: 2em;
   font-weight: lighter;
   letter-spacing: 0.1em;
}

.spinner {
   width: 80px;
   height: 80px;
}
/* .spinner:after {
   content: ' ';
   display: block;
   width: 64px;
   height: 64px;
   margin: 8px;
   border-radius: 50%;
   border: 6px solid teal;
   border-color: teal transparent teal transparent;
   animation: spinner 1.2s linear infinite;
} */
/* @keyframes spinner {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
} */
