.App {
  width: 100%;
  text-align: center;
  display: flex;
}




/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
   align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
} */
.containerSx{
  /* width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; */
  border-right: 1px solid rgba(0,0,0,.125);

}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
